// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-mer-block{
    display: flex;
    justify-content:flex-start;
}

.user-mer{
    margin-right: 20px;
}

#limit-info{
    color: red;
}